# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# VS Code
.vscode/

# Environment
.env
.env.*
!.env.example
!backend/.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Ollama
*.gguf

# Build
node_modules/
dist/
build/

# Testing
.pytest_cache/

# IDE
.idea/
